
<%provide(:title,"Title")%>
<h1>StaticPages#ContactUs</h1>
<p>Find me in app/views/static_pages/contactus.html.erb</p>
<p><%=@message%></p>
<div id="test"></div>

<script type="text/javascript">
document.getElementById('test').innerHTML = "using javascript inside a .erb file";
</script>
